.home{
    height: 100vh;
    &__title{
        height: 20vh;
        text-align: center;
        h1{
            font-size: 3.5rem;
        }
    }

    &__meal-detail{
        height: 80vh;
        background-image: url("../../../images/person-looking-up-recipes-in-the-kitchen.png");
        background-position: top;
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
    }
}